
body {
    font-family: 'Roboto',sans-serif;
    background: #F6F5FF;
    font-weight: normal;
    font-size: 15px;
    color: #333;
    -webkit-font-smoothing: antialiased;
}


a:hover > i {
   /* margin-left: 10px;*/
}
button, input, a {
    outline: none !important;
}
.form-control:focus {
    outline: none !important;
    box-shadow: none;
}
a:focus, button:focus, input:focus {
    outline: none;
    box-shadow: none;
}
.form-control:focus {
    border-color: #000;
    color: #000;
}
ul{
    list-style: none;
}
.paddRight{
    padding-right: 0;
}

.rightBoxFliter{background-color: #fff;padding-right: 0;padding-left: 0;border-radius: 5px;}

.menuSec.navbar{
    background-color: #A3238E;
}
.menuSec .navbar-brand{color: #fff;padding:10px 15px; }
.menuSec .navbar-brand:hover{color: #fff;}

.breadCrm{margin: 20px 0;text-align: right;position: relative;}
.breadCrm li{display: inline-block;padding:0 10px}
.breadCrm li a{color: #5b5b5b;font:400 14px/28px "Montserrat";display: inline-block;}
.breadCrm li a:hover{padding: 0;margin: 0;}
.breadCrm li i{position: relative;padding: 0 5px 0 0;}
.breadCrm li i:after{
    content: "\f104";
    position: absolute;
    font-family: 'FontAwesome';
    left: 10px;
    color: #000;
    top:-3px;
    
}
.breadCrm{}


.bodyPart{
	width: 100%;
	display: block;
	background: #F6F5FF;
	padding: 50px 0;
    margin: 20px 0 0 0;

}
ul.breadCrm{}
ul.breadCrm li{}
ul.breadCrm li a{}
.productCol{
	box-shadow: 0 2px 2px #777;    
    border-radius: 5px;
    background-color: #fff;
    position: relative;
}
.productCol figure{
    position: relative;
}
.productCol img{
	height: 160px;
    width: 100%;
    display: block;
    border-radius: 5px 5px 0 0;
}
.greenTag{
    position: absolute;
    top: 5px;
    right: 10px;
}
.productCol .greenTag a{
    font:400 11px/20px "Montserrat";
    color: #fff;
    background-color: #6ba229;
    padding: 3px 8px;
    border-radius: 4px;
}
.greenTag.urgenTag a{background-color: #A3238E;}
.greenTag.redTag a{background-color: #f5031a;}

.productCol div.productColMiddleSec{padding: 5px 10px;}
.productCol h4{
	color: #874733;    
    font:400 13px/28px "Montserrat";
    text-align: right;
}
.productCol h5{}
.productCol h5 a.dtls{
	color: #878787;   
    font:400 14px/20px "Montserrat";
    float: right;
    display: inline-block;
}
.productCol a.dtls i{
	font-family: 'FontAwesome';
	font-size: 16px;
	color: #878787;
    padding: 5px 8px 0 0;
}
.productCol a.dtlsDwnload i{
    font-family: 'FontAwesome';
    font-size: 16px;
    color: #878787;
    padding: 5px 8px 0 0;
}

.productCol p{
	/*font-size: 14px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;*/
    color: #5b5b5b;
    line-height: 22px;
    font:400 14px/20px "Montserrat";
    text-align: right;
    margin: 0;
}
.projectProg h6{
	height: 5px;
	background-color: #f6edde;
    border-radius: 10px;
    position: relative;
    margin:5px 0 5px 0;

}
.projectProg h6:after{
    position: absolute;
    content: '';
    width: 60%;
    display: block;
    height: 5px;
    background-color: #222;
    border-radius: 10px;
    right: 0;
}
.projectProg h6.nintyPer:after{
    width:20%;
}
.projectProg h6.fourPer:after{
    width:40%;
}


.projectProg{position: relative;padding: 5px 10px;margin: 0 0 5px 0;}
.projectProg div{display: inline-block;font: 400 12px/18px "Montserrat";text-align: right;width: 32%;}
.projectProg div p{color: #939699;font: 400 12px/18px "Montserrat";margin:0 0 2px 0; }
.projectProg div b{color: #5b5b5b;font:bold 12px/20px "Montserrat";}
.proVal{}
.proPaid{text-align: center;}
.proRem{}




.itemCount{position: relative; text-align: center;display: block;margin: 0px 0 0px 0;border-bottom: 1px solid #ccc;padding: 0 0 8px 0;}
.itemCount ul{list-style: none;margin: 0;padding: 0}
.itemCount ul li{display: inline-block;margin: 0 5px 0 0; color: #5b5b5b;font: 400 14px/20px "Montserrat";}
.itemCount ul li div{ }
.itemCount ul li .inpCount{width: 40px;display: inline-block;text-align: center;border: 1px solid #9d9d9d;font-size: 14px;color: #4B5157;border-radius: 5px;}
.itemCount ul li i{color:#4B5157;}
.productCol_ftrSec{padding: 5px 10px 13px 10px;position: relative;}
.donateBtn{display: inline-block;}
.donateBtn button{
    display: inline-block;
    background-color: #A3238E;
    color: #fff;
    border: none;
    font: 400 14px/20px "Montserrat";
    border-radius: 20px;
    padding: 4px 10px;
}
.donateBtn button:hover{background-color: #865D8D}
.addCrd{
    display: inline-block;
    text-align: right;
    float: right;
    padding: 5px;
}
.addCrd a.addBtn{
    padding: 0 10px 0 0;
    color: #5b5b5b;
    font: 400 14px/20px "Montserrat";
}
.addCrd a.shoppingCart{color: #A3238E;}

.eqlheightRow{display: flex;}
.eqlheightCol{
    flex: 1;
}





.rightSec{
    background-color: #fff;
    padding: 20px 0;
    border-radius: 5px;
}
.searchSec{
    position: relative;
    padding: 0 15px 15px 15px;
    border-bottom: 1px solid #ccc;
}
.searchSec div .srchInp:focus{
    border-color: #A3238E;
}
.searchSec div .srchInp {
    width: 100%;   
    font-size: 14px;
    border: 1px solid #9d9d9d;    
    padding: 4px 15px 4px 4px;
    color: #878787;
    border-radius: 10px;
    text-align: right;   

}
.searchSec div:after {
    position: absolute;
    color: #9d9d9d;
    content: "\f002";
    font-family: 'FontAwesome';
    left: 30px;
    top: 6px;
    font-size: 14px;
}
.listSec{
     padding: 15px 15px 15px 15px;
     text-align: right;
     border-bottom: 1px solid #ccc;
}
.rightSec h3{
    font:700 14px/26px "Montserrat";
    color: #333;
    margin:0 0 10px 0; 
    text-align: right;
}
.listSec ul{
    list-style: none;
}
.listSec ul li{
    margin: 0 0 8px 0 ;
    font:400 14px/26px "Montserrat";
    color: #878787;
}
.listSec ul li i{
    color: #A52390;
    padding: 0 0 0 10px;

}
/*.listSec ul li:first-child{
    font:700 14px/26px "Montserrat";
    color: #333;
}*/
.SportSec{
     padding: 15px 15px 15px 15px;
     text-align: right;
}

.SportSec .form-control:focus{
    border-color: #A3238E;
    color: #000;
}
.srchInp:focus{
    border-color: #A3238E;
}

.paggingBlog {
    margin: 30px 0;
}
.paggingBlog ul {
    list-style: none;
    margin: 0 auto;
    text-align: center;
}
.paggingBlog ul li:first-child {
    /*margin-right: 15px;*/
}
.paggingBlog ul li {
    display: inline-block;
    margin: 0 0px 0 0;
}.paggingBlog ul li:first-child a {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
}
.paggingBlog ul li a {
    display: inline-block;
    font-size: 16px;
    color: #878787;
    padding: 10px 20px;
    background-color: #fff;
}
.paggingBlog ul li:last-child a {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
}
.bottomFFtr{
    background-color: #4D2B5F;
    padding: 30px 0;
}
.ftrLogo{margin: 0 0 30px 0;text-align: right;}
.ftrLogo a{}
.socialMedia{margin:20px 0 ;text-align: right;}
.socialMedia a i{
    color: #fff;
    border: 1px solid #fff;
    padding: 6px 8px;
    border-radius: 20px;
    margin: 0 5px 0 0;
    font-size: 12px;
}
.socialMedia p{}

.linksBox{margin: 0 0 10px 0;text-align: right;}
.linksBox h4{font:bold 14px/20px "Montserrat";color: #fff;}
.linksBox ul{margin: 0;padding: 0;}
.linksBox ul li{width: 48%;display: inline-block;}
.linksBox ul li {font: 400 12px/20px "Montserrat";color: #fff;}
.bottomFFtr address{margin: 40px 0 20px 0;}
address p{font: 400 12px/20px "Montserrat";color: #fff;text-align: right;margin: 0 0 2px 0;}

.prodDesc{background-color: #fff;padding: 5px;border-radius: 10px;}
.redBtn{font: 400 11px/20px "Montserrat";color: #fff;background-color: #E82736;padding: 3px 8px;border-radius: 4px;display: inline-block;}
.redBtn a{color: #fff;float: right;}
.ProHdr{text-align: right;display: block;padding: 25px 0 0 50px;margin: 10px 0 0 0;}
.ProHdr h2{font: 700 35px/40px "Montserrat";color: #262D33;margin: 10px 0;}
.ProHdr p{font: 400 14px/25px "Montserrat";color: #939699;}
.proftrSec{padding: 5px 10px 13px 10px;position: relative;margin:40px 0 0 0; }
.proftrSec .donateBtn{margin:0 10px 0 0; }
.proftrSec .itemCount{border-bottom: none;display: inline-block;margin:0 10px; }
.proftrSec .itemCount li b{font-weight: normal;}
.proftrSec .itemCount ul li{font: 400 12px/20px "Montserrat";}
.proftrSec .addCrd{float: none; display: inline-block;background-color: #F6F5FF;padding:5px 15px;border-radius: 20px;}
.prodDesc .projectProg{width: 100%;margin: 35px 0 0 0;display: block;}
.prodDesc .projectProg .prodWrap{width: 60%;text-align: right;float: right;}
.prodDesc .projectProg h6{margin:20px 0 10px 0; }
.prodDesc .addCrd a.addBtn{font:700 12px/20px "Montserrat";}
.prodDesc .proftrSec{padding: 5px 10px 25px 10px;margin: 75px 0 0 0;}
.productDesc{margin:30px 0 0 0;border-radius:10px; background-color: #fff;text-align: right;}
.productDesc h2{font:700 20px/25px "Montserrat";color: #262D33;margin: 10px 0 30px 0;}
.productDesc div.para{width: 75%;font: 400 14px/18px "Montserrat";color:#939699;display: inline-block;padding: 50px 50px 30px 0px;}
.productDesc div p{margin: 0 0 20px 0; }
.ProTaBox{margin: 20px 0 0 0;position: relative;}
.ProTaBox img{display: block;width: 80%;margin: 0 auto;border-radius: 5px;float: right;}
.ProTaBox figure{margin:0 0 20px 0;padding-left: 0px;float: right;width: 100%;display: block; }
.produtTabList{margin-bottom: 10px;}
.produtTabList ul{border: none;text-align: center;margin-left: 100px;}
.produtTabList ul img{padding: 3px;border: 1px solid #ddd;border-radius: 5px}
.produtTabList ul a{border: none;}
.produtTabList .nav-tabs > li{float: none;display: inline-block;}
.produtTabList .nav-tabs > li > a{padding: 3px;}
.produtTabList .nav-tabs > li > a{float: none;}
.produtTabList .nav-tabs > li.active > a{border: none;}
.produtTabList .nav-tabs > li.active > a:hover, .produtTabList .nav-tabs > li > a:hover{background-color: inherit;}
.produtTabList .nav-tabs > li.active img{border: 1px solid #B22297;}
.msk{margin:10px 0 30px 0;}
.msk a{font: 400 12px/18px "Montserrat";color: #262D33; }
.msk a img{padding:0 0px 0 5px;}

/***********************************   Listing Page   **************************************************/
.topTxtStrip{background-color: #fff;padding: 12px;border-radius: 10px;font: 400 14px/20px "Montserrat";color:#262D33;margin-bottom: 20px;text-align: right;}
.topTxtStrip img{margin-left: 8px;}
.listingCard{margin-bottom: 15px;}
.listingCard .hdr{background-color:#4D2B5F;border-radius: 10px 10px  0 0;padding:15px 15px; text-align: right;}
.listingCard .hdr h3{font: 400 16px/24px "Montserrat";color:#fff;margin:0 0 0 10px;}
.listingCard .hdr h4{font: 400 12px/20px "Montserrat";color:#fff;margin: 0;}
.listingCard .hdr h4 img{margin-left: 10px;}
.listingCard .hdr ul{margin:10px 0 0px 0;padding: 0;text-align: right;}
.listingCard .hdr ul li{font: 400 12px/20px "Montserrat";color:#fff;margin:0 0 5px 0; display: inline-block;width: 42%;}
.listingCard .hdr ul li a{font: 400 13px/20px "Montserrat";color:#BCBFC2;}
.listingCard .hdr ul li a i{margin:0 5px 0 0; }
.listBody{background-color: #fff;padding: 10px;border-bottom:1px solid #D9DADB;margin-bottom: 0px;}
.listBody .itemCount{float: left;border: none;}
.listBody .itemCount ul li .inpCount{border: none;color:#BCBFC2}
.listBody .itemCount ul li, .listBody .itemCount ul li i{color:#BCBFC2}
.listBody .txtR{font: 400 14px/20px "Montserrat";color:#BCBFC2;float: right;}
.listBody .txtR i{margin:0 5px 0 0; }
.listBody .txtR b{color: #262D33;}
.listBody .txtL{display: inline-block;}
.listBody .txtL{font: 400 16px/20px "Montserrat";color: #262D33;}
.listBody .txtL small{font:500 10px/16px "Montserrat";color: #262D33;}
.listBodyRow{margin: 0 0 5px 0;}
.listingCard .productCol_ftrSec{background-color: #fff;border-radius: 0 0 10px 10px;padding-top: 10px;}
.boxV{color: #262D33;font:400 12px/20px "Montserrat";border: 1px solid #BCBFC2;padding: 3px 10px;border-radius: 5px;}
.addCrd:hover{background-color:#BCBFC2;padding:5px;border-radius: 5px; }
.listBody .tooltip-inner{background-color: #A3238E;}
.tooltip .tooltip-arrow {
   /* border-top-color: #A3238E!important; border-style: dotted;*/
    /*background-color: #A3238E;*/
}
.listingSidebar .SportSec{border-bottom: 1px solid #D9DADB;}
.popCard .modal-body{padding-top: 0;}
.popCard .modal-header{border-bottom: none;padding: 10px;}
.popCard .modal-dialog{width: 300px;text-align: center;}
.popCard a.btn01{
    display: block;
    background-color: #A3238E;
    color: #fff;
    border: none;
    font: 400 14px/20px "Montserrat";
    border-radius: 20px;
    padding: 11px 10px;
    margin:10px 0 15px 0;
}
.popCard a.btn02{
    display: block;    
    color: #A3238E;
    border: none;
    font: 400 14px/20px "Montserrat";
    border-radius: 20px;
    padding: 11px 12px;
    background-color: #fff;
    border: 1px solid #A3238E;
}
.popCard h2{color: #262D33;font:700 14px/20px "Montserrat";margin: 10px 0 5px 0;}
.popCard h3{color: #BCBFC2;font:400 14px/20px "Montserrat";margin:0 0 30px 0;}


.signLoginpop .modal-header{padding: 0;border-bottom: none;}
.signLoginpop .modal-content{padding: 0 30px;}
.loginDtl{}
.loginDtl ul{border-bottom: 1px solid #D9DADB;display: block;text-align: center;width: 100%;}
.loginDtl ul li{float: none;display: inline-block;margin: 0;}
.loginDtl ul li a{color: #262D33;font:400 14px/20px "Montserrat";padding:10px 20px; border-radius: 0px;border-top: 4px solid #FfF5FF;border-bottom: none;border-left: none;border-right: none;}
.signLoginpop .loginDtl ul li.active a{color:#B22297;font:700 14px/20px "Montserrat";border-top: 4px solid #B22297;border-left: none;border-right: none;border-radius: 0}

.signLoginpop .loginDtl ul li:hover a{border-top: 4px solid #B22297;border-bottom: none;border-left: none;border-right: none;background-color: transparent;border-radius: 0}


.signLoginpop .modal-header .close{margin: 10px -19px 0 0;}
.signLoginpop .paymentBox{padding: 20px 0}
.paymentSec{padding:0 0 20px 0;}
.paymentSec aside.paymntR{width: 55%;display: inline-block;text-align: right;}
.paymentSec aside.paymntR h3{color: #262D33;font:700 20px/30px "Montserrat";margin: 10px 0 15px 0;}
.paymentSec aside.paymntR h4{color: #4B5157;font:700 14px/20px "Montserrat";margin: 0px 0 15px 0;}
.paymntR a{color: #262D33;font:400 14px/20px "Montserrat";margin: 0px 0 15px 0;display: block;}
.paymntR a img{margin:0 8px 0 0;}
.paymntR p{color:#939699;font:400 12px/20px "Montserrat";margin: 5px 0 5px 0;display: block;}
.paymntR a .radioimg{margin: 0 0 0 5px;}



.paymentFtrSec{padding: 10px 0;margin: 15px 0 0 0;border-top:1px solid #D9DADB;}
.paymentFtrSec .donateBtn i{margin:5px 10px 0 0;float: left; }
.totalPaymnt{ display: inline-block;text-align: right; float: right;}
.totalPaymnt p{
  font: 400 20px/30px "Montserrat";
    color: #262D33;
    display: inline-block;
    margin: 0 40px 0 0;
}

.totalPaymnt p small{ font: 400 12px/18px "Montserrat";margin: 0 5px 0 0;}
.totalPaymnt span{
  font: 400 14px/16px "Montserrat";
    color: #4D2B5F;
}

.paymentFtrSec .donateBtn button{padding: 10px 20px;}

.paymentForm{text-align: right;float: right;width: 100%;}
.paymentForm h3{color:#262D33;font:700 20px/30px "Montserrat";margin: 0px 0 20px 0;}
.paymentForm label{color:#262D33;font:400 14px/20px "Montserrat";margin: 0px 0 8px 0;display: block;}
.paymentForm input{color:#262D33;font:400 14px/20px "Montserrat";margin: 0px 0 8px 0;border: 1px solid #D9DADB;width: 90%;float: right;}
.paymentForm select{color:#262D33;font:400 14px/20px "Montserrat";margin: 0px 0 8px 0;border: 1px solid #D9DADB;width: 90%;float: right;}

/*.paymentSec .donationsumry{width: 43%;display: inline-block;text-align: right;}*/
.donationsumry{width: 43%;background-color: #F6F5FF;padding: 12px;border-radius: 10px;text-align: right;display: inline-block;float: left;}
.donationsumry h3{
    color: #262D33;
    font: 700 16px/30px "Montserrat";
    margin: 5px 0 15px 0;
}
.semiWell{float: left;}
.semiWell h4{
    color: #262D33;
    font: 400 14px/20px "Montserrat";
    margin: 5px 0 20px 0;
}
.semiWell span{
    color: #4B5157;
    font: 400 12px/20px "Montserrat";
    margin: 5px 0 10px 0;
    float: left;
}
.semiWell small{
    color: #BCBFC2;
    font: 400 12px/20px "Montserrat";
    margin: 5px 0 10px 0;
    float: right;
}
.donationsumry .hart{float: right;}
.donationsumry .hart img{margin: 10px 0 0 0;}
.donationsumry footer{border-top: 1px solid #ddd;padding:10px 0 0 0;margin:5px 0 0 0; }
.donationsumry footer p{
    float: left;
    color: #262D33;
    font: 400 12px/20px "Montserrat";
}
.donationsumry a{
    color: #B22297;
    font: 400 14px/20px "Montserrat";
    
    float: right;
}

.paymentForm aside:first-child{width: 78%;display: inline-block;float: right;}
.paymentForm .ccv{width: 20%;display: inline-block;float: left;}




.outerrainge {
    max-width: 450px;
    margin: 25px auto 15px;
}

.slider-labels {
   /* display: flex;
    justify-content: space-between;
    margin-top: 10px;*/
    margin-bottom: 20px;
}
.bwt{display: inline-block;margin: 0 10px;}
.bwt i{color: #BCBFC2;}
.rangeFld{display: inline-block;width: 38%;}
.rangeFld input{width: 100%;border: 1px solid #D9DADB;padding: 5px 8px;color: #4B5157;font:400 14px/20px "Montserrat";border-radius: 5px;}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
/* Fix 401 */
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {

  z-index: 10;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s,top .3s;
  transition: left 0.3s,top .3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,.noUi-handle {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 4px;
}

.noUi-horizontal .noUi-handle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: -7px;
  top: -7px;
  background-color: #4D2B5F;
}

/* Styling;
 */



.noUi-background {
  background: #D6D7D9;
}

.noUi-connect {
  background: #4D2B5F;
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-origin {
  border-radius: 2px;
}

.noUi-target {
  border-radius: 2px;
}

.noUi-target.noUi-connect {
}

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}

.noUi-handle {
  cursor: default;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.noUi-handle:active {
  border: 8px solid #345DBB;
  border: 8px solid rgba(53,93,187,0.38);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  left: -14px;
  top: -14px;
}

/* Disabled state;
 */
[disabled].noUi-connect,[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-origin,[disabled] .noUi-handle {
  cursor: not-allowed;
}







