

@media screen and (max-width:1920px){
	.container{max-width: 1400px;}
		
}
@media screen and (min-width:1600px){
	.container{max-width: 1400px;}
}

@media (min-width: 767px) and (max-width: 1280px) {
	
	.donateBtn{display: block; text-align: center;}
	.addCrd{display: block;float: none;text-align: center;margin: 5px 0 0 0;}
	.projectProg div{width: 100%;}
	.proftrSec .donateBtn{display: initial;}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.listingCard .hdr ul li{width: 100%;}
	.listBody .txtL, .listBody .txtR{display: block;text-align: right;}
	.listBody .itemCount{float: none;display: block;}
}

@media screen and (max-width:1370px){
	
	
}

@media screen and (max-width:1290px){
	
	
	
	
}

@media screen and (max-width:1230px){ 
	
	
}


@media screen and (max-width:1199px){
	
	
}

@media (max-width: 1024px) {
	
}


@media screen and (max-width:980px){
	.eqlheightRow{display: block;}
	.paddRight{	margin-bottom: 20px;}
}

@media screen and (max-width:991px){
	.listSec{padding: 15px 5px;}
}

@media screen and (max-width:520px){
	.prodDesc .projectProg .prodWrap{width: 100%;}
	.proftrSec .donateBtn{display: block;text-align: center;}
	.proftrSec .addCrd{display: block;text-align: center;margin:10px 0}
	.proftrSec .itemCount{display: block;text-align: center;}
	.ProTaBox img{float: none;}
	.produtTabList ul{margin-left: 0;}
}

