

@media screen and (max-width:1925px){
	
	
}
@media screen and (max-width:1600px){
	
}

@media (min-width: 767px) and (max-width: 1767px) {
	
}

@media screen and (max-width:1370px){
	
	
	}

@media screen and (max-width:1290px){
	
	
	
	
}

@media screen and (max-width:1230px){ 
	
	
}


@media screen and (max-width:1199px){
	
	
}

@media screen and (max-width:980px){
	
}

@media screen and (max-width:810px){
	
}

@media screen and (max-width:768px){
	
}

